<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.github.bysky.charmplayer">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon_charm"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icon_charm"
        android:supportsRtl="true"
        android:theme="@style/RedTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LocalMusicActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity android:name=".ScanMusicActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity android:name=".ScanFileForMusicActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ScanMusicActivity" />
        </activity>
        <activity android:name=".SelectFolderActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ScanMusicActivity" />
        </activity>

        <service
            android:name=".ScanFileService"
            android:enabled="true"
            android:exported="false" />
        <service
            android:name=".BroadcastService"
            android:enabled="true"
            android:exported="true" />

    </application>

</manifest>